<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <h1 class="headerapp">MUSIC APP</h1>
  </head>

  <body>
    <% if logged_in? %>
      <form action=" <%= session_url %> " method="post">
        <input type="hidden"name="authenticity_token" value="form_authenticity_token">

        <input type="hidden" name="_method" value="delete">
        <input type="submit" name="logout" value="logout">

      </form>
    <% else %>
      <div class="atag">
        <a  href=" <%= new_session_url %> ">LOGIN</a>
        <a  href=" <%= new_user_url %> ">SIGNUP</a>
      </div>
      <h2>dear god print this</h2>
    <% end %>
    <%= yield %>
  </body>
</html>
